[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
coverage = "*"
flake8-django = "*"
flake8-isort = "*"

[dev-packages]

[requires]
python_version = "3.7"
